<section class="tables">
	<div class="">
		<div class="row">
			<div class="col-lg-12">
			    <div class="card">

         			<div class="card-header d-flex align-items-center">
			        	<div class="col-lg-8">

				            <ol class="breadcrumb" >
							    <li class="breadcrumb-item" ><a href="#/">Inicio</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
						  	</ol>

						</div>
						<div class="col-lg-4 text-right">
							<h1 style="font-size: 200%" ng-if="region" >Región {{ region }}</h1>
						</div>
			        </div>

			        <div class="card-body">

						<div class="row">
			        		<div class="col-lg-4">
			        			<div class="input-group mb-3">
								  	<input type="text" class="form-control" placeholder="Buscar zona..." ng-model="search" ng-change="filter()">
								  	<div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1">
									    	<i class="fas fa-search"></i>
									    </span>
								  	</div>
								</div>
			        		</div>
							
							<div class="col-lg-3 offset-lg-3" ng-if="id_rol != 223">
								<button class="btn btn-info btn-block" ng-click="modalCambiarRegion()">Cambiar Región
			        				<i class="fas fa-sync-alt"></i>
			        			</button>
							</div>
			        		<div class="col-lg-2" ng-if="id_rol != 223">
			        			<button ng-disabled="!region" class="btn btn-primary btn-block" ng-click="modalReportaServicio()">Reportar
			        				<i class="fas fa-battery-half"></i>
			        			</button>
			        		</div>

			        		<div class="col-lg-2 offset-lg-6" ng-if="id_rol == 223">
			        			<button class="btn btn-primary btn-block" ng-click="modalReportaServicio()">Reportar
			        				<i class="fas fa-battery-half"></i>
			        			</button>
			        		</div>

			        	</div>

	        			<br>

			        	<div class="row" ng-show="filter_data > 0">
							
							<!-- <div ng-if="region" class="col-lg-12 text-center">
								<h1 style="font-size: 200%">Reporte de Region {{ region }}</h1>
								<br>
							</div> -->
			        		<div class="col-lg-12">
			        			<div>
						            <table class="table table-sm table-bordered table-hover">
						                <thead>
						                    <tr>
						                        <!-- <th style="width: 29%">Servicio</th>
						                        <th class="text-center" style="width: 10%">Zona</th>
						                        <th class="text-center" style="width: 30%">Porcentaje de Funcionamiento</th>
						                        <th class="text-center" style="width: 20%">Fecha</th>
						                        <th class="text-center" style="width: 10%">Acción</th> -->
						                        <th class="text-center">Zona</th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fas fa-tint"></i>
						                        	Agua
						                        </th>
						                        <th class="text-center" style="width: 15%">
						                        	<i class="fas fa-lightbulb"></i>
						                        	Energía Eléctrica
						                        </th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fas fa-phone"></i>
						                        	Teléfono
						                        </th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fab fa-internet-explorer"></i>
						                        	Internet
						                        </th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fas fa-bus-alt"></i>
						                        	Transporte
						                        </th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fas fa-shield-alt"></i>
						                        	Seguridad
						                        </th>
						                        <th class="text-center" style="width: 13%">
						                        	<i class="fas fa-road"></i>
						                        	Carreteras
						                        </th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr ng-repeat="reporte in searched = (reportes | filter:search | orderBy : base :reverse) | beginning_data:(current_grid - 1) * data_limit | limitTo:data_limit">
														<td class="text-center">
															<h1>{{ reporte.ZONA }}</h1>
														</td>
														<td class="text-center" ng-repeat="servicio in reporte.SERVICIOS">
															<div class="row">
																<div class="col-lg-12">
																	<!-- Si ya se ha realizado una petición por reporte -->
																	<!-- Si existe reporte y es menor a 40 y esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE_CONFIRMADO <= 40 && servicio.REPORTE.PORCENTAJE_CONFIRMADO && servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-danger">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check-double"></i>
																	</button>
	
																	<!-- Si existe reporte y es menor a 80 y esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && (servicio.REPORTE.PORCENTAJE_CONFIRMADO > 40 &&  servicio.REPORTE.PORCENTAJE_CONFIRMADO <= 80) && servicio.REPORTE.PORCENTAJE_CONFIRMADO && servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-warning">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check-double"></i>
																	</button>
																	
																	<!-- Si existe reporte y es superior a 80 y esta confirmado -->	
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE_CONFIRMADO > 80 && servicio.REPORTE.PORCENTAJE_CONFIRMADO && servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-primary">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check-double"></i>
																	</button>

					
																	<!-- Si existe reporte y es menor a 40 y esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE_CONFIRMADO <= 40 && servicio.REPORTE.PORCENTAJE_CONFIRMADO && !servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-danger">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check"></i>
																	</button>

																	<!-- Si existe reporte y es menor a 40 y no esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE <= 40 && !servicio.REPORTE.PORCENTAJE_CONFIRMADO" style="width: 100px" class="btn btn-danger">
																		{{ servicio.REPORTE.PORCENTAJE }}%
																		<i class="fas fa-info-circle"></i>
																	</button>

																	<!-- Si existe reporte y es menor a 80 y esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && (servicio.REPORTE.PORCENTAJE_CONFIRMADO > 40 &&  servicio.REPORTE.PORCENTAJE_CONFIRMADO <= 80) && servicio.REPORTE.PORCENTAJE_CONFIRMADO && !servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-warning">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check"></i>
																	</button>
																	
																	<!-- Si existe reporte y es menor a 80 y no esta confirmado -->
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && (servicio.REPORTE.PORCENTAJE > 40 &&  servicio.REPORTE.PORCENTAJE <= 80) && !servicio.REPORTE.PORCENTAJE_CONFIRMADO " style="width: 100px" class="btn btn-warning">
																		{{ servicio.REPORTE.PORCENTAJE }}%
																		<i class="fas fa-info-circle"></i>
																	</button>

																	<!-- Si existe reporte y es superior a 80 y esta confirmado -->	
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE_CONFIRMADO > 80 && servicio.REPORTE.PORCENTAJE_CONFIRMADO && !servicio.REPORTE.PETICION_SERVICIO" style="width: 100px" class="btn btn-primary">
																		{{ servicio.REPORTE.PORCENTAJE_CONFIRMADO }}%
																		<i class="fas fa-check"></i>
																	</button>

																	<!-- Si existe reporte y es superior a 80 y no esta confirmado -->	
																	<button ng-click="modalEditarReporte(servicio.REPORTE.ID_CORRELATIVO)" ng-if="servicio.REPORTE && servicio.REPORTE.PORCENTAJE > 80 && !servicio.REPORTE.PORCENTAJE_CONFIRMADO" style="width: 100px" class="btn btn-primary">
																		{{ servicio.REPORTE.PORCENTAJE }}%
																		<i class="fas fa-info-circle"></i>
																	</button>
	
																</div>
															</div>
														</td>
														<!-- <td class="text-center">
															<div class="row">
																<div class="col-lg-12">
																	<button style="width: 100px" class="btn btn-danger">
																		25%
																		<i class="fas fa-check"></i>
																	</button>
																</div>
															</div>
														</td>
														<td class="text-center">
															<div class="row">
																<div class="col-lg-12">
																	<button style="width: 100px"  class="btn btn-primary">
																	100%
																	<i class="fas fa-info-circle"></i>
																	</button>
																</div>
															</div>
														</td>
														<td class="text-center">
															<div class="row">
																<div class="col-lg-12">
																	<button style="width: 100px"  class="btn btn-warning">50%</button>
																</div>
															</div>
														</td>
														<td>
															
														</td>
														<td>
															
														</td>
														<td>
															
														</td>
														<td>
															
														</td> -->
						                    	<!-- <td  style="vertical-align: middle" class="text-center"><i class="{{ reporte.ICONO }}"></i></td>
						                        <td style="vertical-align: middle" >{{ reporte.SERVICIO }}</td>
						                        <td style="vertical-align: middle" class="text-center">{{ reporte.ZONA }}</td>
						                        <td style="vertical-align: middle">
						                        	<div class="progress">
  														<div ng-if="reporte.PORCENTAJE <= 40" class="progress-bar bg-danger" role="progressbar" style="{{ reporte.PORCENTAJE_USO }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ reporte.PORCENTAJE }}%</div>

														<div ng-if="reporte.PORCENTAJE > 40 && reporte.PORCENTAJE <= 80" class="progress-bar bg-warning" role="progressbar" style="{{ reporte.PORCENTAJE_USO }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ reporte.PORCENTAJE }}%</div>

														<div ng-if="reporte.PORCENTAJE > 80" class="progress-bar bg-success" role="progressbar" style="{{ reporte.PORCENTAJE_USO }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ reporte.PORCENTAJE }}%</div>

													</div>
						                        </td>
						                        <td style="vertical-align: middle" class="text-center">{{ reporte.FECHA_REPORTE }}</td>
						                        <td style="vertical-align: middle" class="text-center">

							                        <button class="btn btn-primary btn-sm" ng-click="modalEditarReporte(reporte.ID_CORRELATIVO)" title="Editar">
							                        	<i class="fas fa-edit"></i>
							                        </button>

											
						                        </td> -->
						                    </tr>
						                </tbody>
						            </table>
			        			</div>
			        		</div>
			        	</div>

			        	<!-- <div class="row" ng-show="filter_data > 0">

			        		<div class="col-lg-6">

			        			<ul uib-pagination boundary-links="true" items-per-page="data_limit" total-items="filter_data" ng-model="current_grid" ng-change="pageChanged()" first-text="Primera" last-text="Última" previous-text="&laquo;" next-text="&raquo;" num-pages="numPages" max-size="maxSize"></ul>

			        		</div>
			        	</div> -->

			        	<div class="col-md-12" ng-show="filter_data == 0">
							<h4 class="text-center">-- No se encontraron registros --</h4>
						</div>

			    	</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal para reportar servicio -->
<div class="modal fade" id="modalReportarServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
			<form ng-submit="realizarReporte()">
		      	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalCenterTitle">Reportar Servicio</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">&times;</span>
			        </button>
		      	</div>
		      	<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
						    	<label class="text-center">Zona</label>
								<select ng-model="reporte.ZONA" ng-change="obtenerServicios()" class="form-control" required>
									<option value="">-- Seleccione una zona --</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
								</select>
							</div>
						</div>
						
						<div class="col-lg-8">
							<div class="form-group">
						    	<label class="text-center">Servicio</label>
								<select ng-model="reporte.SERVICIO" class="form-control" name="" required>
									<option value="?">-- Seleccione una servicio --</option>
									<option ng-repeat="servicio in servicios" value="{{ servicio.ID }}">{{ servicio.NOMBRE }}</option>
								</select>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="form-group">
								<label>Porcentaje de Funcionamiento</label>
								<input type="range" ng-model="reporte.PORCENTAJE" class="form-control-range" required>
								<h1 class="text-center" style="font-size: 400%; padding-top: 20px">{{ reporte.PORCENTAJE }}%</h1>
							</div>
						</div>

						<div class="col-lg-8">
							<div class="form-group">
								<label>Descripción del reporte</label>
								<textarea ng-model="reporte.OBSERVACION" rows="4" class="form-control"></textarea>
							</div>
						</div>

						<div class="col-lg-12">
							<div style="padding-top: 20px; padding-bottom: 20px" class="col-lg-12 text-center">
								<button type="submit" class="btn btn-primary btn-lg">REPORTAR</button>
							</div>
						</div>

					</div>
		      	</div>
			</form>
    	</div>
  	</div>
</div>

<!-- Modal para editar reporte -->
<div class="modal fade" id="modalEditarReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
			<form ng-submit="actualizarReporte()">
		      	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalCenterTitle">Detalles del Reporte</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">&times;</span>
			        </button>
		      	</div>
		      	<div class="modal-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
						    	<label class="text-center">Zona</label>
						    	<h2>{{ detalles_reporte.ZONA }}</h2>
							</div>
						</div>
						
						<div class="col-lg-6">
							<div class="form-group">
						    	<label class="text-center">Servicio</label>
								<h2>
									<i class="{{ detalles_reporte.ICONO }}"></i>
									{{ detalles_reporte.NOMBRE }}
								</h2>
							</div>
						</div>

						<!-- Si el usuario es vecino -->

						<div class="col-lg-4" ng-if=" id_rol == 223 ">
							<div class="form-group">
								<label>Porcentaje de Funcionamiento</label>
								<input type="range" ng-change="actualizarPorcentaje()" ng-model="detalles_reporte.PORCENTAJE" class="form-control-range" required>
								<h2 class="text-center" style="font-size: 400%; padding-top: 20px">{{ detalles_reporte.PORCENTAJE }}%</h2>
							</div>
						</div>

						<div class="col-lg-8" ng-if=" id_rol == 223 ">
							<div class="form-group">
								<label>Descripción del reporte</label>
								<textarea ng-change="actualizarObservacion()" ng-model="detalles_reporte.OBSERVACION" rows="4" class="form-control"></textarea>
							</div>
						</div>
						
						<!-- Si el usuario no es vecino  -->
						<div class="col-lg-6" ng-if=" id_rol != 223 ">
							<div class="form-group">
								<label>Porcentaje de Funcionamiento Reportado</label>
								<h1>{{ detalles_reporte.PORCENTAJE }}%</h1>
							</div>
						</div>

						<div class="col-lg-6" ng-if=" id_rol != 223 ">
							<div class="form-group">
								<label>Descripción del reporte</label>
								<h2 ng-if="detalles_reporte.OBSERVACION">{{ detalles_reporte.OBSERVACION }}</h2>
								<h2 ng-if="!detalles_reporte.OBSERVACION">Ninguna</h2>
								
							</div>
						</div>
						

						<div class="col-lg-6" ng-if=" id_rol != 223 ">
							<div class="form-group">
								<label>Porcentaje de Funcionamiento Confirmado</label>

								<!-- Si existe porcentaje confirmado -->
								<input ng-if="detalles_reporte.PORCENTAJE_CONFIRMADO" type="range" ng-change="actualizarPorcentaje()" ng-model="detalles_reporte.PORCENTAJE_CONFIRMADO" class="form-control-range" required>
								<h2 ng-if="detalles_reporte.PORCENTAJE_CONFIRMADO" class="text-center" style="font-size: 400%; padding-top: 20px">{{ detalles_reporte.PORCENTAJE_CONFIRMADO }}%</h2>

								<!-- Si aun no existe porcentaje confirmado -->
								<input ng-if="!detalles_reporte.PORCENTAJE_CONFIRMADO" type="range" ng-change="actualizarPorcentaje()" ng-value="0" ng-model="detalles_reporte.PORCENTAJE_CONFIRMADO" class="form-control-range" required>
								<h2 ng-if="!detalles_reporte.PORCENTAJE_CONFIRMADO" class="text-center" style="font-size: 400%; padding-top: 20px">0%</h2>
							</div>
						</div>
						
						<div class="col-lg-6" ng-if=" id_rol != 223 ">
							<div class="form-group">
								<label>Observación</label>
								<textarea ng-change="actualizarObservacionConfirmacion()" ng-model="detalles_reporte.OBSERVACION_CONFIRMACION" rows="4" class="form-control"></textarea>
							</div>
						</div>

						<div class="col-lg-12">
							<div style="padding-top: 20px; padding-bottom: 20px" class="col-lg-12 text-center">
								<button type="submit" class="btn btn-primary btn-lg">ACEPTAR</button>
							
							</div>
						</div>

					</div>
		      	</div>
			</form>
    	</div>
  	</div>
</div>

<!-- Modal para seleccionar region -->
<div class="modal fade" id="modalCambiarRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content">
			<div class="modal-header">
		      <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar Región</h5>
			   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			   </button>
		   </div>
      	<div class="modal-body">
      		<div class="row">
      			<div class="col-lg-12 text-center">
      				<h1>Seleccione una región</h1>
      			</div>
      		</div>
      		<br>
      		<div class="row">
      			<div class="col-lg-6 text-center">
      				<button ng-click="seleccionarRegion(1)" style="width: 200px; height: 100px" class="btn btn-primary">
      					<h1>Región 1</h1>
      					<h5 style="font-size: 80%">Zonas: 1, 4, 5, 8, 9, 11</h5>
      				</button>
      			</div>
      			<div class="col-lg-6 text-center">
      				<button ng-click="seleccionarRegion(2)" style="width: 200px; height: 100px" class="btn btn-info">
      					<h1>Región 2</h1>
      					<h5 style="font-size: 80%">Zonas: 2, 3, 6, 7, 10, 19</h5>
      				</button>
      			</div>
      		</div>
      		<br>
      		<div class="row">
      			<div class="col-lg-6 text-center">
      				<button ng-click="seleccionarRegion(3)" style="width: 200px; height: 100px" class="btn btn-danger">
      					<h1>Región 3</h1>
      					<h5 style="font-size: 80%">Zonas: 12, 13, 14, 15, 16, 21</h5>
      				</button>
      			</div>
      			<div class="col-lg-6 text-center">
      				<button ng-click="seleccionarRegion(4)" style="width: 200px; height: 100px" class="btn btn-secondary">
      					<h1>Región 4</h1>
      					<h5 style="font-size: 80%">Zonas: 17, 18, 24, 25</h5>
      				</button>
      			</div>
      		</div>
      	</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="modalRealizarPeticion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content">
			<form ng-submit="realizarSolicitud()">
		      	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalCenterTitle">Realizar Petición</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">&times;</span>
			        </button>
		      	</div>
		      	<div class="modal-body">
						<div class="row">
							<!-- Datos del reporte -->
							<div class="col-lg-6" style="border-right: 1px dashed #333;">
								<div class="row">
									<div class="col-lg-12">
										<h1 class="text-center">Detalles del reporte</h1>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
									    	<label class="text-center">Zona</label>
									    	<h2>{{ detalles_reporte.ZONA }}</h2>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="form-group">
									    	<label class="text-center">Servicio</label>
											<h2>
												<i class="{{ detalles_reporte.ICONO }}"></i>
												{{ detalles_reporte.NOMBRE }}
											</h2>
										</div>
									</div>
									<div class="col-lg-12" ng-if=" id_rol != 223 ">
										<div class="form-group">
											<label>Porcentaje de Funcionamiento Reportado</label>
											<h1>{{ detalles_reporte.PORCENTAJE }}%</h1>
										</div>
									</div>

									<div class="col-lg-12" ng-if=" id_rol != 223 ">
										<div class="form-group">
											<label>Descripción del reporte</label>
											<h2 ng-if="detalles_reporte.OBSERVACION">{{ detalles_reporte.OBSERVACION }}</h2>
											<h2 ng-if="!detalles_reporte.OBSERVACION">Ninguna</h2>
											
										</div>
									</div>

									<div class="col-lg-12" ng-if=" id_rol != 223 ">
										<div class="form-group">
											<label>Porcentaje de Funcionamiento Confirmado</label>
											<h1>{{ detalles_reporte.PORCENTAJE_CONFIRMADO }}%</h1>	
										</div>
									</div>
									
									<div class="col-lg-12" ng-if=" id_rol != 223 ">
										<div class="form-group">
											<label>Observación</label>
											<h2 ng-if="detalles_reporte.OBSERVACION_CONFIRMACION">{{ detalles_reporte.OBSERVACION_CONFIRMACION }}</h2>
											<h2 ng-if="!detalles_reporte.OBSERVACION_CONFIRMACION">Ninguna</h2>
										</div>
									</div>
								</div>
							</div>

							<!-- Datos de la petición -->
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-12">
										<h1 class="text-center">Datos de petición</h1>
									</div>
									<div class="col-lg-12">
									<div class="form-group">
								    	<label class="text-center" for="exampleInputEmail1">Tipo de Insumo</label>
										<select ng-model="solicitud.TIPO_INSUMO" ng-change="obtenerInsumos()" class="form-control" name="">
											<option value=""></option>
											<option value="{{ tipo_insumo.ID }}" ng-repeat="tipo_insumo in tipos_insumos">{{ tipo_insumo.NOMBRE }}</option>
											<option value="O">OTRO</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12" ng-if="solicitud.TIPO_INSUMO && solicitud.TIPO_INSUMO != 'O'">
									<div class="form-group">
								    	<label for="exampleInputEmail1">Insumo</label>
										<select ng-model="solicitud.INSUMO"  class="form-control" name="">
											<option value=""></option>
											<option value="{{ insumo.ID }}" ng-repeat="insumo in listado_insumos">{{ insumo.NOMBRE }}</option>
											<option value="O">OTRO</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12" ng-if="solicitud.TIPO_INSUMO && (solicitud.TIPO_INSUMO == 'O' || solicitud.INSUMO == 'O' )">
									<div class="form-group">
								    	<label for="exampleInputEmail1">Descripción del Insumo</label>
										<input type="text" class="form-control" ng-model="solicitud.OTRO_INSUMO" style="text-transform:uppercase">
									</div>
								</div>
								<div class="col-lg-12" ng-show="solicitud.TIPO_INSUMO && solicitud.INSUMO && solicitud.INSUMO != 'O'">
									<div class="form-group">
								    	<label>Solicitar</label>
										<select ng-model="solicitud.ROL" class="form-control" id="selectpicker" data-live-search="true">
											<option value="">-- Seleccione una opción --</option>
											<!-- <option value="{{ rol.ID }}" ng-repeat="rol in roles">{{ rol.NOMBRE }}</option> -->
											
											<optgroup label="COEM">
												<option value="226" >EQUIPO DIRECTIVO</option>
										    	<option value="211">SECCIÓN LOGISTICA</option>
										    	<option value="212">SECCIÓN ADMINISTRATIVA Y FINANZAS</option>
										    	<option value="218">SECCIÓN OPERACIONES</option>
										    	<option value="219">SECCIÓN DE PLANIFICACIÓN</option>
		  									</optgroup>

										  	<optgroup label="ALIADOS EXTERNOS">
										    	<option value="224">CÁMARA DE LA CONSTRUCCIÓN</option>
										    	<option value="59">MINISTERIO DE LA DEFENSA</option>
										    	<option value="225">EEGSA</option>
										    	<option value="67">TIGO</option>
										    	<option value="214">CLARO</option>
										    	<option value="215">TELEFÓNICA</option>
										    	<option value="65">MINISTERIO DE EDUCACIÓN</option>
										    	<option value="216">IGLESIA</option>
										  	</optgroup>

										  	<option value="220">CONCEJO</option>
		  									<option value="213">BOMBEROS VOLUNTARIOS</option>
		  									<option value="221">COMUNICACIÓN</option>
		  									<option value="190">BRIGADISTAS</option>
		  									<option value="222">VOLUNTARIADO</option>
		  									<option value="223">ENLACES ZONALES</option>
		  									<option value="10">ALCALDÍAS AUXILIARES</option>
											<option value="217">JURÍDICO</option>

										</select>
									</div>
								</div>

								<div class="col-lg-12" ng-show="solicitud.TIPO_INSUMO && solicitud.OTRO_INSUMO">
									<div class="form-group">
								    	<label>Solicitar</label>
										<select ng-model="solicitud.ROL" class="form-control" id="selectpicker2" data-live-search="true">
											<option value="">-- Seleccione una opción --</option>
											<optgroup label="COEM">
												<option value="226" >EQUIPO DIRECTIVO</option>
										    	<option value="211">SECCIÓN LOGISTICA</option>
										    	<option value="212">SECCIÓN ADMINISTRATIVA Y FINANZAS</option>
										    	<option value="218">SECCIÓN OPERACIONES</option>
										    	<option value="219">SECCIÓN DE PLANIFICACIÓN</option>
		  									</optgroup>

										  	<optgroup label="ALIADOS EXTERNOS">
										    	<option value="224">CÁMARA DE LA CONSTRUCCIÓN</option>
										    	<option value="59">MINISTERIO DE LA DEFENSA</option>
										    	<option value="225">EEGSA</option>
										    	<option value="67">TIGO</option>
										    	<option value="214">CLARO</option>
										    	<option value="215">TELEFÓNICA</option>
										    	<option value="65">MINISTERIO DE EDUCACIÓN</option>
										    	<option value="216">IGLESIA</option>
										  	</optgroup>

										  	<option value="220">CONCEJO</option>
		  									<option value="213">BOMBEROS VOLUNTARIOS</option>
		  									<option value="221">COMUNICACIÓN</option>
		  									<option value="190">BRIGADISTAS</option>
		  									<option value="222">VOLUNTARIADO</option>
		  									<option value="223">ENLACES ZONALES</option>
		  									<option value="10">ALCALDÍAS AUXILIARES</option>
											<option value="217">JURÍDICO</option>

										</select>
									</div>
								</div>
			
								<div class="col-lg-6" ng-if="solicitud.ROL && (solicitud.INSUMO || solicitud.OTRO_INSUMO ) && solicitud.TIPO_INSUMO">
									<div class="form-group">
								    	<label for="exampleInputEmail1">Cantidad</label>
										<input type="text" class="form-control" ng-model="solicitud.CANTIDAD_SOLICITAR" required>
									</div>
								</div>

								<div class="col-lg-6" ng-if="solicitud.ROL && (solicitud.INSUMO || solicitud.OTRO_INSUMO ) && solicitud.TIPO_INSUMO">
									<div class="form-group">
								    	<label for="exampleInputEmail1">Zona</label>
										<input type="text" class="form-control" ng-model="solicitud.ZONA" required>
									</div>
								</div>

								<div class="col-lg-6" ng-if="solicitud.ROL && (solicitud.INSUMO || solicitud.OTRO_INSUMO ) && solicitud.TIPO_INSUMO">
									<div class="form-group">
								    	<label for="exampleInputEmail1">Observaciones</label>
										<textarea style="text-transform:uppercase" ng-model="solicitud.OBSERVACIONES" name="name" rows="4" class="form-control"></textarea>
									</div>
								</div>

								<div class="col-lg-6">
									<div ng-if="solicitud.ROL && (solicitud.INSUMO || solicitud.OTRO_INSUMO ) && solicitud.TIPO_INSUMO && solicitud.CANTIDAD_SOLICITAR && solicitud.ZONA" style="padding-top: 20px; padding-bottom: 20px; vertical-align: middle" class="col-lg-12 text-center">
										<button type="submit" class="btn btn-primary btn-lg">SOLICITAR</button>
									</div>
								</div>
								</div>
								
								

							</div>
						</div>
		      	</div>
			</form>
    	</div>
  	</div>
</div>


